.Chat{
  position: sticky;
top: 50%;
}


.message-box {
    margin: auto;
    margin-left: 25px;
    margin-top: 25px;
    padding-left: 23px;
    width: 25%;
    border: 3px solid #666b72;
    background-color: #b6bcc5;
    
  }
.sender-box {
    margin: auto;
    margin-right: 25px;
    margin-top: 25px;
    padding-left: 23px;
    width: 25%;
    border: 3px solid #0b68ea;
    background-color: #0b68ea;
    
  }

  textarea { 
    resize: none;
    width:100%;
    height: 50px;
   }

  
  .textbox {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border: 3px solid #02070c;
    color: white;
    text-align: center;
 }

  p{
    margin: 10px;
    padding: 10px;
  }